*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
notebooks/
.env
.python-version
.vscode/
notebooks/
notebooks/projet stats foot.ipynb
.vscode/settings.json
wagon-bootcamp-332313-b7c39b02ab77.json
